# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
/node_modules

# Production build
/dist
/dist-ssr

# Local environment files
# Dependency directories
/node_modules

# Production build
/dist
/dist-ssr

# Local environment files
*.local

# Static build files
*.cache

# IDE / Editor folders and files
.vscode/
.idea/
# Static build files
*.cache

# IDE / Editor folders and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System files 
Thumbs.db
ehthumbs.db
Icon?

# Others
*.env
coverage/

# System files
Thumbs.db
ehthumbs.db
Icon?

# Others
*.env
coverage/