.footer {
  background-color: #0a192f;
  color: white;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  width: 100%;
  /* position: relative;
  z-index: 100; */

}

.footer-container {
  display: flex;
  flex-wrap:wrap;   
  gap: 50px;
  /* justify-content: space-between; */
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo {
  flex: 1;
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-logo h2 {
  font-size: 24px;
  color: #00c853;
}

.footer-logo p {
  font-size: 14px;
  line-height: 1.5;
}

.footer-links {
  flex: 1;
  min-width: 150px;
  margin-bottom: 20px;
}

.footer-links h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  font-size: 14px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: color 0.3s ease;
  color: #557685;
}

.footer-links li:hover {
  color: #00c853;
}

.footer-contact {
  flex: 1;
  min-width: 250px;
  min-width: 200px;
  /* margin-bottom: 20px; */
}

.footer-contact h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-contact p {
  font-size: 14px;
  margin-bottom: 5px;
}

.footer-contact .content {
  color: #557685;
}

.Footer-p {
  font-size: 14px;
  margin-bottom: 5px;
  text-align: justify;
}

.footer-icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.footer-icons svg {
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer-icons svg:hover {
  color: #00c853;
}

.logo-img {
  width: 200px; /* Adjust size as needed */
  height: auto;
}

