/* .employee-page{
    background-color: black;
    color:yellow;
} */
.employee-page{
    margin-top: 64px;
    color:black;
}
.row{
    display:flex;
}
.sidebar{
    flex-basis: 30%;
}
.middle{
    flex-basis:70%;
}