.candidate-column{
    display: block;
}

.candidate-row{
    display: flex;
    flex-wrap: wrap;
}

.candidate-card{
    padding: 20px;
    border: 1px solid #464444;
}
.candidates-container{
    margin-top: -100px;
    margin-left: 50px;
    border: 1px solid #464444;
    border-radius: 8px;
    overflow: hidden;
}


